.nav{
    z-index: 1030;
    display: flex;
    flex-direction: row;
    padding: 0.4vmax;
    position: absolute;
    left: 14vmax;
    

}

.logo{
    background-color: orangered;
    width: 58px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    left: 0.1vmax;
    background-color: orangered;
}

#logoImg{
    transition: all 0.2s;
    transform: translate(-58px);
}

#logoImg:hover{
    transform: translate(0);
}

.navlinks{
    color: white;
    text-decoration: none;
    margin: 1vmax 1vmax;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 0.7vmax;
   
}

.navlinks:hover{
    color: orangered;
    text-decoration: none;
}

.searchbox{
    position: relative;
    left: 5vmax;
    top: 1vmax;
}

.searchbox >input{
    border: none;
    width: 10vmax;
    font-size: 0.8vmax;
    outline: none;
    font-weight: 85;
    background-color:transparent

    
  }
 
  
  .searchbox > svg{
    fill: rgb(61, 61, 61);
}